.container-fluid.home(ng-controller='HomeController')
    .row
        .col-3.p-2.profile
            img(src='images/logo.jpg')
            nav(role='navigation')
                ul.mt-2.p-0
                    li
                        md-button
                            img(src='images/volume-minus.png', style='width: auto')
                            span Présentation
                    li
                        md-button
                            img(src='images/volume-minus.png', style='width: auto')
                            span Réputation XXX
                    li
                        md-button
                            img(src='images/volume-minus.png', style='width: auto')
                            span Suivi par XXX personnes
                    li
                        md-button
                            img(src='images/volume-minus.png', style='width: auto')
                            span Habite à XXX
                    li
                        md-button
                            img(src='images/volume-minus.png', style='width: auto')
                            span Créer un poste
                md-button Tous les postes
                md-button Groupes
        .col-1(style='background-color: blue')
        .col-6.p-2.wall
            //.row
                .col-6.pr-0
                    md-button.w-100.m-0 Créer un flux
                .col-6.pl-0
                    md-button.w-100.m-0 Flux récents
            //textarea.w-100.my-3
            a
                h4.ml-3.p-3.md-whiteframe-3dp.title-location Ecole Saint Patrick
                h5.ml-3.text-center.title-location Un canular blabla
            p.p-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            a
                h4.ml-3.p-3.md-whiteframe-3dp.title-location Politique
                h5.ml-3.text-center.title-location Un député trop curieux
            p.p-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
