.container-fluid
    nav(role='navigation')
        ul.row
            li
                a(href='') À propos
            li
                a(href='') Aide
            li
                a(href='') Police de confidentialité
            li
                a(href='') Echo mobile
            li
                a(href='') Groupes